@use '../../../styles/foundation/functions' as *;
@use '../../../styles/foundation/mixins' as *;

.flight-date-picker {
  display: grid;
  gap: get-space(lg);
  padding: get-space(lg);
}

.flight-date-picker__options {
  display: flex;
  justify-content: space-between;
}

.flight-date-picker__trip {
  display: flex;
  flex-wrap: wrap;
  gap: get-space(xs);
}

.flight-date-picker__calendar {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr) auto;
  align-items: start;
  gap: get-space(lg);
}

.flight-date-picker__month {
  display: grid;
  gap: get-space(md);
  min-width: 0;

  h3 {
    @include text-size(title);
    font-weight: 500;
    line-height: 1.8;
    justify-content: center;
    text-align: center;
  }
}

.flight-date-picker__weekdays,
.flight-date-picker__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: get-space(xs);
}

.flight-date-picker__weekdays {
  text-align: center;
}

.flight-date-picker__day {
  @include flex-center;

  min-width: 0;
  aspect-ratio: 1;
  border-radius: 50%;

  &.is-start,
  &.is-end {
    color: var(--color-white);
    background: var(--color-point-primary);
  }

  &.is-range {
    background: var(--color-bg-sub);
  }

  &:disabled,
  &.is-disabled {
    color: var(--color-text-tertiary);
    background: transparent;
  }
}

.flight-date-picker__nav {
  @include flex-center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:disabled,
  &.is-disabled {
    color: var(--color-text-tertiary);
    background: transparent;
  }
}

@include respond-down(tablet) {
  .flight-date-picker {
    padding: 0;
  }

  .flight-date-picker__calendar {
    gap: get-space(xs);
  }
}


@include respond-down(mobile) {
  .flight-date-picker {
    padding: 0;
  }

  .flight-date-picker__calendar {
    grid-template-columns: 1fr;
  }
}

@include respond-down(mobile-sm) {
  .flight-date-picker {
    padding: get-space(md);
  }

  .flight-date-picker__calendar {
    gap: get-space(md);
    padding-inline: 0;
  }
}
