@use '../../../styles/foundation/functions' as *;
@use '../../../styles/foundation/mixins' as *;

.flight-date-picker {
  display: grid;
  gap: 24px;
}

.flight-date-picker__options {
  display: flex;
  justify-content: space-between;
}

.flight-date-picker__trip {
  flex: 0 0 auto;
}

.flight-date-picker__calendar {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: start;
  gap: 24px;
}

.flight-date-picker__month {
  display: grid;
  gap: 16px;
  min-width: 0;

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.8;
    justify-content: center;
    text-align: center;
  }
}

.flight-date-picker__weekdays,
.flight-date-picker__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  row-gap: 8px;
}

.flight-date-picker__weekdays {
  text-align: center;
  gap: 4px;
}

.flight-date-picker__day {
  @include flex-center;
  min-width: 0;
  min-height: rem(40px);
  border-radius: var(--radius-sm);

  &.is-start,
  &.is-end {
    color: var(--color-text-inverse);
    background: var(--color-mint-accessible);
  }

  &.is-connected-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.is-connected-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-range {
    background: var(--color-bg-sub);
    border-radius: 0;
  }

  &:disabled,
  &.is-disabled {
    color: var(--color-text-tertiary);
    background: transparent;
  }
}

.flight-date-picker__nav {
  position: absolute;

  width: max(8%, 44px);
  height: 44px;
  border-radius: 50%;

  &--next {
    position: absolute;
    right: 0;
  }

  &:disabled,
  &.is-disabled {
    color: var(--color-text-tertiary);
    background: transparent;
  }
}

@include respond-down(laptop) {
  .flight-date-picker {
    padding: 0;
  }

  .flight-date-picker__calendar {
    gap: 16px;
  }
}


@include respond-down(tablet) {
  .flight-date-picker {
    padding: 0;
  }

  .flight-date-picker__calendar {
    grid-template-columns: 1fr;
  }
}

@include respond-down(mobile) {
  .flight-date-picker {
    padding: 16px;
  }

  .flight-date-picker__calendar {
    gap: 16px;
    padding-inline: 0;
  }
}
