@charset "utf-8";

article {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 5;

    background: url(../../assets/images/about__main.png) center / contain no-repeat;
}

.about__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    gap: 1.5rem;

    font-size: var(--font-size-title);
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}