@charset "utf-8";

.about-page {
    padding-inline: var(--space-2);
}

@media (min-width: 360px) {
    .about-page {
        padding-inline: var(--space-8);
    }
}

.about__story {
    position: relative;
    isolation: isolate;
    display: grid;
    place-items: center;
    aspect-ratio: 3 / 5;
    padding: var(--space-12) var(--space-6);
    background-color: var(--color-surface);
}

.about__story::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url(../../assets/images/about__main-v5.webp) center / contain no-repeat;
    content: "";
    opacity: .7;
}

.about__text {
    display: grid;
    gap: var(--space-4);
    font-size: var(--font-size-body);
    font-style: italic;
    line-height: 1.7;
    text-align: center;
}
