@charset "utf-8";

.account-help {
    min-height: 34rem;
}

.account-help__inner {
    padding: 2rem 0 0;
}

.account-help__title {
    padding: 0 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    font-weight: 500;
}

.account-help__lead,
.account-help__result {
    padding: 0 1rem;
    margin-bottom: 1.5rem;

    font-size: .75rem;
}

.account-help__result strong {
    font-size: 1rem;
    font-weight: 600;
}

.account-help-form {
    padding: 0 1rem 2.5rem;
}

.account-help-form__group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;

    padding-top: 1.5rem;
    border-bottom: 1px solid #888;
}

.account-help-form__label {
    font-size: .875rem;
    font-weight: 400;
}

.account-help-form__input {
    width: 100%;
    min-height: 2.25rem;
    padding: .25rem 0 .5rem;

    color: var(--font-color-default);
}

.account-help-form__button,
.account-help__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;

    border: 1px solid var(--font-color-default);
    border-radius: 3px;

    font-size: 1rem;
    font-weight: 400;
}

.account-help-form__button--primary {
    color: #fff;
    border-color: #F25C74;
    background: #F25C74;
    font-weight: 700;
}

.account-help__actions {
    padding: 0 1rem 2.5rem;
}
