@charset "utf-8";

.join__intro {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 1rem;
    
    font-size: .875rem;
    font-style: italic;
}

.join__note {
    padding: 1rem var(--page-gutter) 0;

    font-size: .75rem;
    font-weight: 500;
}

/* Account */
form {
    padding: 0 var(--page-gutter) 2.5rem;
}

.form-group, .address-group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem; 

    border-bottom: 1px solid #888;
}

.form-group {
    padding-top: 1.5rem;
}

.form-label.is-required::after,
.field-title.is-required::after {
    content: "*";
    padding-left: 4px;
    color: #F25C74;
}

/* Address */
.address-group {
    padding-top: .5rem;
}

.address-post {
    display: flex;
    justify-content: space-between;
}
.btn-address {
    padding: 0 1.5rem;

    border: 1px solid #141414;
    border-radius: 5px;
}

/* Birth */
.field-title {
    padding-top: 2rem;
    font-size: .875rem;
}

.birth-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding-top: .5rem;
}

.birth select {
    width: auto;
    padding: 0 .625rem;

    text-align: center;
    color: #0E0E0E;
}

.birth select:focus-visible {
    outline: 2px dashed #1F2937;
    outline-offset: 2px;
}

.calendar-type {
    display: flex;
    gap: 1rem
}

/* Agreement */
.agreement {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    margin-top: 2rem;
    padding: 1.5rem .75rem;

    border-radius: 5px;
    background: #F5F5F5;
}

.agreement__label {
    cursor: pointer;
    font-size: .75rem;
}

.agreement__item {
    margin-bottom: 1rem;
}

.agreement__scroll {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: .5rem;

    max-height: 7rem;
    overflow-y: auto;
    padding: 1rem;
}

.agreement__scroll h3,
.agreement__scroll h4,
.agreement__scroll p {
    font-size: .625rem;
}

.agreement__label.all {
    font-size: .875rem;
}
