@charset "utf-8";

/* ========================================
                Base - Mobile
======================================== */

footer {
    position: static;
    width: 100%;
}

footer a,
footer p {
    font-size: var(--text-footer-size);
    line-height: 1.65;
}

/* ========== Top ========== */

.footer__top {
    background: #EDEDED;
    min-height: var(--space-5);
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25rem .5rem;

    width: 100%;
    max-width: 1200px;
    padding-block: .5rem;
}

.footer__link {
    padding: var(--space-1);
}

.footer__link--privacy {
    font-weight: 600;
}

@media (max-width: 429px) {
.footer__link--location {
    display: none;
}}


/* ========== Bottom ========== */

footer .wrapper--bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    background: #F8F8F8;
}

.footer__bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    row-gap: var(--space-2);

    width: 100%;
    max-width: 1200px;
    height: 100%;
    
    padding-top: var(--space-2);
    padding-bottom: 6rem;
}

.footer__logo {
    height: 1.75rem;
    aspect-ratio: 5.875 / 1;
}
@media (max-width: 429px) {
.footer__logo {
    grid-column: 1 / -1;
}}

/* SNS */

.footer__sns {
    display: flex;
    justify-self: end;
    gap: var(--space-1);
}

.footer__sns--wrapper {
    width: 1.875rem;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
}

.footer__sns--link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 1 / 1;
}

/* SNS Icon */
.instagram {
    width: 1.125rem;
    aspect-ratio: 1 / 1;
}
.wrapper__instagram {
    background: var(--color-instagram);
}

.youtube {
    width: 1.125rem;
    aspect-ratio: 16 / 11;
}
.wrapper__youtube {
    background: var(--color-youtube);
}

.facebook {
    height: 1.125rem;
    aspect-ratio: 1 / 2;
}
.wrapper__facebook {
    background: var(--color-facebook);
}

.naverblog {
    height: 1.125rem;
    aspect-ratio: 3 / 4;
}
.wrapper__naverblog {
    background: var(--color-naverblog);
}

.kakao {
    width: 1.125rem;
    aspect-ratio: 8 / 7;
}
.wrapper__kakao{
    background: var(--color-kakao);
}

/* Address & Copyright */

.span, 
.footer__address, 
.footer__copyright  {
    grid-column: 1 / -1;
}

.footer__address {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem 1.25rem;
    color: var(--color-text-default-soft);
    line-height: 1.65;
    font-style: normal;
}

.footer__address .span {
    flex-basis: 100%;
}

.footer__address p {
    padding: 0;
    margin: 0;
}

.footer__copyright {
    color: var(--color-gray);
}

.footer__copyright small {
    font-size: inherit;
    line-height: inherit;
}

/* ========================================
                    Tablet
======================================== */

@media (min-width: 768px) {

/* ===== Top ===== */

.footer__top {
    height: var(--space-6);
}

.footer__links {
    flex-wrap: nowrap;
    gap: 1.25rem;
    padding-block: 0;
}

/* ===== Bottom ===== */

.footer__bottom {
    padding-bottom: 8rem;
}

.footer__logo {
    height: 2.5rem;
}

.footer__sns--wrapper {
    width: 2.5rem;
}

/* SNS Icon */
.instagram {
    width: 1.5rem;
}


.youtube {
    width: 1.5rem;
}


.facebook {
    height: 1.5rem;
}


.naverblog {
    height: 1.5rem;
}


.kakao {
    width: 1.5rem;
}

}


/* ========================================
                    PC
======================================== */

@media (min-width: 1248px) {    

.footer__bottom {
    padding-bottom: 6vh;
}

}
