@charset "utf-8";

:root {

    /* ========================
        Icon Tokens
    ======================== */

    --icon-size-2xs: var(--fs-6);
    --icon-size-xs: var(--fs-8);
    --icon-size-sm: var(--fs-14);
    --icon-size-md: var(--fs-16);
    --icon-size-lg: var(--fs-28);
}

@media (min-width: 768px) {

:root {
    --icon-size-xs: var(--fs-10);
    --icon-size-sm: var(--fs-16);
    --icon-size-md: var(--fs-28);
    --icon-size-lg: var(--fs-36);
}
}

@media (min-width: 1248px) {

:root {
    --icon-size-xs: var(--fs-12);
    --icon-size-sm: var(--fs-16);
    --icon-size-md: var(--fs-32);
    --icon-size-lg: var(--fs-48);
}
}



/* ==================== Moblie - Base ==================== */

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding-block: .625rem;
}

.icon {
    display: block;

    width: var(--fs-16);
    aspect-ratio: 1 / 1;

    fill: none;
    stroke: var(--color-text-default);
    
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

/* ========== Gloval-nav ========== */

.icon--search {
    stroke: var(--color-text-on);
}

.search[data-state="open"] .icon--search {
    width: var(--fs-18);
    aspect-ratio: 1 / 1;
    stroke-width: 1.8;
}

.icon--export {
    stroke-width: 2;
}
.main-menu__link:hover .icon--export,
.main-menu__link:focus-visible .icon--export {
    stroke: var(--color-text-on);
    stroke-width: 4;
}

/* FIXED: resolves SVG glitch */
.fill-full {
    fill: var(--color-text-default);
    stroke-width: 0;
}

.icon--quick-menu {
    width: var(--fs-20);
    aspect-ratio: 1 / 1;
}

.icon--home {
    width: var(--fs-18);
    aspect-ratio: 1 / 1;
}
.icon--home__background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    aspect-ratio: 1 / 1;
    background: var(--color-yellow);
    border-radius: var(--radius-full);
}

.quick-menu .icon--menu-all,
.quick-menu .icon--education,
.quick-menu .icon--contact {
    fill: var(--color-white);
}


/* ========== Home ========== */

/* ===== Quick Menu ===== */
.quick-menu--home__link .icon--youth {
    width: var(--fs-40);
    aspect-ratio: 1 / 1;
}
/* FIXED: resolves SVG glitch */
.stroke {
    stroke-width: 2.5;
}
.no-stroke {
    stroke-width: 0;
}

/* ===== Banner ===== */

.banner .icon--prev,
.banner .icon--next,
.banner .icon--pause,
.banner .icon--play {
    width: var(--fs-36);
    aspect-ratio: 1 / 1;

    fill: var(--color-text-default-70);
    stroke: var(--color-text-on);
}
.icon__symbol {
    fill: none;
}


/* ===== Programs ===== */
@media (min-width: 480px) {
.programs__prev .icon--prev,
.programs__next .icon--next,
.education__prev .icon--prev,
.education__next .icon--next,
.gallery__prev .icon--prev,
.gallery__next .icon--next {
    width: var(--fs-28);
    aspect-ratio: 1 / 1;

    fill: transparent;
    stroke: var(--color-orange);
}

.programs__prev[data-available="true"] .icon--prev,
.programs__next[data-available="true"] .icon--next,
.education__prev[data-available="true"] .icon--prev,
.education__next[data-available="true"] .icon--next,
.gallery__prev[data-available="true"] .icon--prev,
.gallery__next[data-available="true"] .icon--next {
    fill: var(--color-orange-20);
}

.programs__prev:disabled .icon--prev,
.programs__next:disabled .icon--next,
.education__prev:disabled .icon--prev,
.education__next:disabled .icon--next,
.gallery__prev:disabled .icon--prev,
.gallery__next:disabled .icon--next {
    stroke: var(--color-orange);
    opacity: 0.45;
}
}

/* ===== Related Links ===== */
.icon--toggle {
    stroke: var(--color-text-default-soft);
}


/* ==================== Tablet ==================== */

@media (min-width: 768px) {

/* ========== Gloval-nav ========== */

.search[data-state="open"] .icon--search {
    width: var(--fs-20);
    aspect-ratio: 1 / 1;
    stroke-width: 2;
}

.icon--export {
    stroke-width: 2.5;
}

.icon--quick-menu {
    width: var(--fs-28);
    aspect-ratio: 1 / 1;
}

.icon--home__background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--fs-36);
    height: var(--fs-36);
}
.icon--home {
    width: 1.5rem;
    height: 1.5rem;
}
   

/* ========== Home ========== */

.banner .icon--prev,
.banner .icon--next,
.banner .icon--pause,
.banner .icon--play {
    width: var(--fs-44);
    aspect-ratio: 1 / 1;
}

/* ===== Programs ===== */
.programs__prev .icon--prev,
.programs__next .icon--next,
.education__prev .icon--prev,
.education__next .icon--next,
.gallery__prev .icon--prev,
.gallery__next .icon--next {
    width: var(--fs-32);
    aspect-ratio: 1 / 1;
}

}


/* ==================== PC ==================== */

@media (min-width: 1248px) {

/* ========== Gloval-nav ========== */

.search[data-state="open"] .icon--search {
    width: var(--fs-16);
    aspect-ratio: 1 / 1;
    stroke-width: 2;
}

.icon--menu-all {
    width: var(--fs-20);
    aspect-ratio: 1 / 1;
}

.main-menu__link:hover .icon--export,
.main-menu__link:focus-visible .icon--export {
    stroke: #e065bb!important;
    stroke-width: 3.5;
}

#menu-panel[data-menu-mode="mega"] .icon--export:hover {
    stroke-width: 3.5;
}


.button--mega-menu:hover .icon--menu-all,
.button--mega-menu:focus-visible .icon--menu-all {
    stroke: var(--color-white);
    stroke-width: 2;
}

.icon-close {
    width: var(--fs-20);
    aspect-ratio: 1 / 1;
    stroke-width: 2;
}


/* ========== Home ========== */

.banner .icon--prev,
.banner .icon--next,
.banner .icon--pause,
.banner .icon--play {
    width: var(--fs-44);
    aspect-ratio: 1 / 1;
}

.icon--quick-menu.icon {
    width: var(--fs-36);
    aspect-ratio: 1 / 1;
}
}

