@use '../../../styles/foundation/mixins' as *;

.ranking-tab-list {
  @include scroll-row(max-content, 2);

  margin-bottom: var(--space-4);
  overflow-y: visible;
  padding: 4px 4px var(--space-4) 4px;
  margin: -4px -4px 0 -4px;
}
