@charset "utf-8";

*,
*::before,
*::after { 
  margin: 0; padding: 0; 
}

fieldset {
  border: 0;
  min-width: 0; 
}

legend {
  border: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,ol {
  list-style: none;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased; /* mac/ios 글꼴 렌더링 개선 */
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
}
input,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  /* outline: none; */
  min-height: var(--field-height-small);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: currentColor;
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

/* Chrome, Safari */
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}
/* 추가로 안전하게 */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition: none;
  }
}

/* bootstrap, 아이콘 버튼, 숨긴 제목((section / 목록 제목), 보조 설명 텍스트 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
