@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/pretendard-1.3.9/Pretendard-Regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/pretendard-1.3.9/Pretendard-Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/pretendard-1.3.9/Pretendard-SemiBold.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/pretendard-1.3.9/Pretendard-Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EditorialToday';
    src: url("../../assets/fonts/EditorialToday-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-color-default: var(--color-text);
}

/* Font Base */
html {
    font-family:
        "Pretendard",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Noto Sans KR",
        "Apple SD Gothic Neo",
        "Malgun Gothic",
        Arial,
        sans-serif;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-size: var(--font-size-body);
    line-height: 1.5;
    color: var(--color-text);
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.3;
}

/* Text Accent */
.text-accent {
    font-weight: 700;
    color: var(--color-accent);
}

.font-brand {
    font-family: 'EditorialToday';
    font-weight: 400;
}

.font-flower {
    font-family: 'Shippori Mincho', 'Noto Serif JP', 'Yu Mincho', serif;
    font-weight: 400;
}
