@charset "utf-8";

/* ===== header ===== */
header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, var(--shell-width, 480px));
    height: 3.5rem;

    padding: 1rem 1rem;
}

main {
    padding-top: 3.5rem;
}

header.is-menu-open {
    background: rgba(255,255,255,0.92);
}

/* Logo */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: clamp(0.5rem, 1.5rem, 1.75rem);

}

.logo a {
    padding: 0.25rem;
}

/* Menu */
.header__menu {
    padding: 0.25rem;
}

.header__menu svg {
    display: block;
    width: 1.5rem;
    height: auto;

    fill: none;
}

.header__menu svg path {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.header__menu [data-state="open"] { display:none; }

.header__menu[aria-expanded="true"] [data-state="closed"] { display:none; }
.header__menu[aria-expanded="true"] [data-state="open"] { display:block; }


/* Action Nav */
/* Login */
.header__actions svg{
    display: block;
    width: 1.5rem; 
    height: 1.5rem;
}

.login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}

.login svg g {
    display: none;
}
.login[data-state="logged-out"] g[data-icon="logged-out"] { display: block; }
.login[data-state="logged-in"]  g[data-icon="logged-in"]  { display: block; }

/* Cart */
.cart {
    display: inline-flex;
    position: relative;
    align-items: center; 
    flex: 0 0 auto;
    
    padding: 0.5rem;
}

.cart__badge {
    display: none;
}

.cart__badge {
    position: absolute;
    top: 0.8rem;
    right: 0.2rem;
    font-size: 0.7rem;
    color: currentColor;
}

/* Menu Drawer */
.header__gnb {
    position: fixed;
    left: 0;
    top: 3.5rem;
    z-index: 1000;

    height: 100dvh;
    width: min(80vw, 320px);

    background: rgba(255,255,255,0.92);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.2s ease,
        visibility 0s linear 0.3s;
}

.header__gnb[data-state="open"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition:
        opacity 0.2s ease,
        visibility 0s linear 0s;
}

.gnb__list {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    display: flex;
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    gap: 1.7rem;

    padding: 1.5rem;
}

#header-menu[aria-expanded="true"] + .header__gnb .gnb__list {
    display: flex;
}

.gnb__link, .gnb__sublink {
    padding: 0.5rem;
}
.gnb__item--has-sub {
    padding: 0 0.5rem;
}

/* Menu Toggle */
.gnb__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.gnb__toggle img.is-sub-open {
    transform: rotate(180deg);
}

/* ===== Sub Menu ===== */

.gnb__sublist[hidden] {
    display: none;
}

.gnb__sublist {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

/* Instagram */
.instagram {
    display: inline-flex;
    width: fit-content;
    padding: 0.5rem;
}


/* 검색 기본 레이아웃 */
.search__btn {
    padding: 0.5rem;
}


/* 검색바 한 줄 정렬 */
.search__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: fit-content;
}


/* 인풋 영역 */
.search__input {
    flex: 0.8;
    /* css에서는 placeholder 길이 만큼만 늘어나게는 못함 */
    min-width: 0;
    max-width: 20rem;

    border-bottom: 1px solid #888;
    text-align: center;
}
.search__input::placeholder {
    color: #cccccc;
}
