@use "./foundation" as *;
@use "./foundation/reset";
@use "./foundation/themes";
@use "./utilities/motion";
@use "./utilities/print";


// ========================================
// PPT Page Base
// ========================================

.ppt-page {
  @include ppt-page;

  position: relative;
  color: var(--color-text-primary);
  background: transparent;
}
